.header {
   text-align: center;
   border-bottom: 1px;
   border-color: rgb(212, 212, 212);
   margin-bottom: 5px;
   
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttonadd {
   font-size: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   height: 50px;
   width: 100px;
   border-radius: 10px;
   background-color: antiquewhite;
}